doctype html
html(lang='en')
  head
    title= pageTitle
    style #{css}
  body
    div
      .tile
        .content.header
          h1 Showreel #{metadata.date}
          h2 by #{metadata.name}
          .description!= md(metadata.description)
      
      each item in list
        case item.mode
          
          when 'background'
            .tile
              .content(style={ background: 'url(' + absolutePath + item.src + ')  no-repeat center' })
                .caption(style=item.captionStyle)
                  a.title(href=item.titleHref)!= md(item.title)
                  .context!= md(item.context)
                  .role!= md(item.role) 
          when 'simple'
            .tile
              .content
                .caption
                  a.title(href=item.titleHref)!= md(item.title)
                  .context!= md(item.context)
                  .role!= md(item.role) 
