doctype html
html(lang=locale)
  head
    title= pageTitle
    style #{css}
    meta(charset="utf-8")
  body
    div
      .tile
        .content.header
          h1= __('Portfolio') + ' ' + metadata.date
          h2= __('by') + ' ' + metadata.name
          .description!= md(metadata.description)
      
      each item in list
        case item.mode
          
          when 'background'
            .tile
              .content(style={ background: 'url(' + absolutePath + item.src + ')  no-repeat center' })
                .caption(style=item.captionStyle)
                  if item.titleHref
                    a.title(href=item.titleHref)!= md(item.title)
                  else 
                    .title!= md(item.title)
                  
                  .context!= md(item.context)
                  .role!= md(item.role) 
          when 'simple'
            .tile
              .content
                .caption
                  a.title(href=item.titleHref)!= md(item.title)
                  .context!= md(item.context)
                  .role!= md(item.role) 
